﻿<section class="hero bg-purple-hero row">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <img src="/Content/images/analytics/analytics_icon_x2.png" class="img-responsive" height="41" width="54" />
        <h2>Data that informs decisions</h2>
        <p class="font-18 text-center">
          Explore clinical, financial, and operational data to transform, optimize, and grow.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <h1>Analytics for all Your Needs</h1>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h4 class="extra-space">
          With a focus on Productivity, Profit and your Patients, Cross Current extracts the data and KPIs to fully analyze <strong>Financial, Clinical, Operational, Billing and Coding, Compliance, Patient Outcomes and Satisfaction</strong>.
        </h4>
        <button id="see-it-in-action" style="font-size: 16px">See It In Action</button>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-gray row">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row" style="margin-bottom: 40px">
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/visit-volume_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">Visit Volume</h5>
        <p class="medium">
          Trend and compare visit volume KPIs to identify changes in provider productivity, referrals, and capacity.
        </p>
      </div>
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/surgical-productivity_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">Surgical Productivity + Conversion rates (yield)</h5>
        <p class="medium">
          Trend and compare surgical conversion rates, sessions worked and WRVU's to manage surgeon productivity and increase efficiency of nonoperative resources.
        </p>
      </div>
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/appointment-analysis_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">Appointment Analysis</h5>
        <p class="medium">
          Track and trend scheduling efficiency and progress of efforts to reduce no shows and cancellations.
        </p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 40px">
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/ancillary-services_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">Ancillary Services</h5>
        <p class="medium">
          Track, monitor and forecast MRI utilization, urgent care visits, and Physical Therapy.
        </p>
      </div>
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/labor-productivity_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">Labor Productivity + Management</h5>
        <p class="medium">
          Analyze productivity and costs per unit for Front Desk Staff, Scheduling Staff, Call Center Staff, Clinical Support Staff, X-ray Staff, Billing Staff to identify top performers and compare against benchmarks.
        </p>
      </div>
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/AR_and_billing_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">AR + billing</h5>
        <p class="medium">
          Go beyond legacy AR and billing reporting to analyze key AR performance metrics over time, evaluate payer performance and manage AR staff productivity.
        </p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 40px">
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/patient_experience_x2.png" width="225" height="150" style="margin-bottom: 20px;" />
        <h5 class="purple">Patient Experience</h5>
        <p class="medium">
          Evaluate Patient Satisfaction metrics and Net Promoter Score to develop and monitor performance improvement initiatives.
        </p>
      </div>
      <div class="col-md-4 margin-bottom-xs center-text-xs">
        <img src="/Content/images/analytics/demo_and_growth_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">Demographics + Growth</h5>
        <p class="medium">
          Understand referral trends and market demographics to support growth and business development.
        </p>
      </div>
      <div class="col-md-4 center-text-xs">
        <img src="/Content/images/analytics/revenue_and_analysis_x2.png" width="225" height="150" style="margin-bottom: 20px;"/>
        <h5 class="purple">Revenue Analysis</h5>
        <p class="medium">
          Support management of revenue metrics to support revenue related issues, e.g. coding and to manage compensation models.
        </p>
      </div>
    </div>
      </div>
    </div>
    
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="left">Creating Data Heroes</h1>
        <hr style="margin-left: 0;" />
        <p class="font-20">
          In addition to our off-the-rack KPIs and views, we offer self-service analytics for all your ad hoc scenarios. Non-technical people will find it intuitive to explore data.
        </p>
      </div>
      <div class="col-md-6">
        <img src="/Content/images/analytics/creating_data_heroes_x2.png" width="312" height="279" class="img-responsive" />
      </div>
    </div>
  </div>
</section>

<section class="bg-light-gray row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Your Focus Is Our Focus</h1>
        <p class="text-center font-18">Specialties we have experience in:</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center" style="margin-top: 30px">
      <div class="col-md-2 col-md-offset-1">
        <img src="/Content/images/analytics/check_mark_x2.png" style="margin-bottom: 15px;" height="43" width="43" class="img-responsive" />
        <p class="font-18 purple bold">Orthopedics</p>
      </div>
      <div class="col-md-2">
        <img src="/Content/images/analytics/check_mark_x2.png" style="margin-bottom: 15px;" height="43" width="43" class="img-responsive" />
        <p class="font-18 purple bold">Physical Therapy</p>
      </div>
      <div class="col-md-2">
        <img src="/Content/images/analytics/check_mark_x2.png" style="margin-bottom: 15px;" height="43" width="43" class="img-responsive" />
        <p class="font-18 purple bold">Ambulatory Surgery Centers</p>
      </div>
      <div class="col-md-2">
        <img src="/Content/images/analytics/check_mark_x2.png" style="margin-bottom: 15px;" height="43" width="43" class="img-responsive" />
        <p class="font-18 purple bold">Opthalmology</p>
      </div>
      <div class="col-md-2">
        <img src="/Content/images/analytics/check_mark_x2.png" style="margin-bottom: 15px;" height="43" width="43" class="img-responsive" />
        <p class="font-18 purple bold">Cardiology</p>
      </div>
    </div>
  </div>
</section>