﻿<section id="slider" class="row">
  <div class="owl-carousel owl-theme">
    <div class="item bg-slider-2">
      <h1>Analytics</h1>
      <h2>
        to improve productivity &<span class="block">profit across your practice</span>
      </h2>
      <button class="hero-cta" id="analytics-link">See the difference</button>
    </div>
    <div class="item bg-slider-3">
      <h1>Insights</h1>
      <h2>
        from data that you can't<span class="block">get from legacy systems</span>
      </h2>
      <button class="hero-cta" id="platform-link">See the platform</button>
    </div>
  </div>
</section>

<section class="row bg-blue-network">
  <h1>Same Data. New Insights.</h1>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 margin-bottom-xs">
        <img src="/Content/images/home/their_way_x2.png" alt="Their Way" class="img-responsive" height="220" width="220" />
        <p class="text-center padding-top-30">
          Most practices rely on ad hoc-reporting or generic analytics tools through their practice management software&mdash;the output of which is a <strong>flat report</strong>.
        </p>
      </div>
      <div class="col-md-5">
        <img src="/Content/images/home/our_way_x2.png" alt="Our Way" class="img-responsive" height="220" width="220" />
        <p class="text-center padding-top-30">
          Our advanced analytics and data visualize, takes the same data and provides deep insight so <strong>you see the whole story</strong> and <strong>can take action</strong>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <h1>Our Approach</h1>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h4 class="extra-space">
          Our sole focus is to provide healthcare organizations with the tools to understand their business. We believe this will increase profitability, optimize performance, and improve patient satisfaction.
        </h4>
      </div>
      <div class="row text-center">
        <div class="col-md-offset-3 col-md-6">
          <div class="row">
            <div class="col-md-4 margin-top-30">
              <img src="/Content/images/home/Performance_x2.png" alt="" height="82" width="82" class="img-responsive" />
              <span class="orb-text">Performance</span>
            </div>
            <div class="col-md-4 margin-top-30">
              <img src="/Content/images/home/Profit_x2.png" alt="" height="82" width="82" class="img-responsive" />
              <span class="orb-text">Profit</span>
            </div>
            <div class="col-md-4 margin-top-30">
              <img src="/Content/images/home/Patient_x2.png" alt="" height="82" width="82" class="img-responsive" />
              <span class="orb-text">Patient</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row bg-light-gray">
  <div class="container quote-container">
    <p class="quote-large">
      This product is hugely powerful for our operations. It enables our practice administrators to quickly get the insights we need to successfully run our organization. There is no way we could manage our growth without having this level of transparency and insights into our business.
    </p>
  </div>
  <div class="container">
    <p class="quote-attr">
      &mdash; Michael Sheerin, COO, Rothman Institute
    </p>
  </div>
</section>