﻿<section class="hero row bg-orange-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <img src="/Content/images/platform/platform_icon_x2.png" width="55" height="48" class="img-responsive" />
        <h2>
          Our Platform Is Your Success
        </h2>
        <p class="font-18 text-center">
          Incorporate the data assessment, extraction and compilation capabilities to provide you with the information and response time to make informed decisions
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>It's All Included</h1>
        <hr />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <img src="/Content/images/platform/Find_x2.png" width="160" height="157" class="img-responsive" style="margin-bottom: 30px" />
        <h5>Find</h5>
        <p class="medium">
          Perform Ad Hoc analysis with Tableau’s powerful Ad Hoc tools
        </p>
      </div>
      <div class="col-md-3">
        <img src="/Content/images/platform/Compare_x2.png" width="160" height="157" class="img-responsive" style="margin-bottom: 30px" />
        <h5>Compare</h5>
        <p class="medium">
          Quickly Compare performance and identify best practice or over/under performers
        </p>
      </div>
      <div class="col-md-3">
        <img src="/Content/images/platform/Visualize_x2.png" width="160" height="157" class="img-responsive" style="margin-bottom: 30px" />
        <h5>Visualize</h5>
        <p class="medium">
          Visualizing data in new ways in spatial, scattergram, etc.
        </p>
      </div>
      <div class="col-md-3">
        <img src="/Content/images/platform/Trend_x2.png" width="160" height="157" class="img-responsive" style="margin-bottom: 30px" />
        <h5>Trend</h5>
        <p class="medium">
          Trending performance over time to track progress
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-gray row plus-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 border-right hidden-xs">
            <img src="/Content/images/platform/plus_sign_x2.png" width="20" height="20" class="img-responsive platform-plus" />
          </div>
          <div class="col-md-10">
            <h5 class="orange">Filter</h5>
            <p class="medium">
              Filter with a click of a button to correlate results and analyses
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 border-right hidden-xs">
            <img src="/Content/images/platform/plus_sign_x2.png" width="20" height="20" class="img-responsive platform-plus" />
          </div>
          <div class="col-md-10">
            <h5 class="orange">Share</h5>
            <p class="medium">
              Easily Share and inform colleagues of findings on mobile devices
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 border-right hidden-xs">
            <img src="/Content/images/platform/plus_sign_x2.png" width="20" height="20" class="img-responsive platform-plus" />
          </div>
          <div class="col-md-10">
            <h5 class="orange">Calculate</h5>
            <p class="medium">
              Calculate advanced algorithms with data from multiple systems for key performance indicators
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 border-right hidden-xs">
            <img src="/Content/images/platform/plus_sign_x2.png" width="20" height="20" class="img-responsive platform-plus" />
          </div>
          <div class="col-md-10">
            <h5 class="orange">Benchmark</h5>
            <p class="medium">
              Benchmarking performance against national, practice, and specialty benchmarks, budgets and performance targets
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 border-right hidden-xs">
            <img src="/Content/images/platform/plus_sign_x2.png" width="20" height="20" class="img-responsive platform-plus" />
          </div>
          <div class="col-md-10">
            <h5 class="orange">Isolate</h5>
            <p class="medium">
              Quickly Compare performance and identify best practice or over/under performers
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 border-right hidden-xs">
            <img src="/Content/images/platform/plus_sign_x2.png" width="20" height="20" class="img-responsive platform-plus" />
          </div>
          <div class="col-md-10">
            <h5 class="orange">Go Granular</h5>
            <p class="medium">
              Instantly drill down to find root cause and validate findings
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/Content/images/platform/ETL_x2.png" width="450" height="180" class="img-responsive" /> <!-- 900 × 560 -->
      </div>
      <div class="col-md-6">
        <h1 class="left">Extract. Transform. Load.</h1>
        <hr style="margin-left: 0" />
        <p class="font-20">
          Our experience with over 100 vendors enables us to begin to deploy quickly and enable customers to begin working with their data within a couple of weeks.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Cross Current ETL</h1>
        <hr />
        <p class="text-center">
          The Cross Current data extraction process runs routinely (generally nightly) to extract data from a broad range of data elements from practice management billing, AR management, registration and scheduling, EHR, HR/Payroll, financial/accounting, patient satisfaction and patient reported outcomes, quality reporting, surgical management and a variety of acute care applications. Once extracted, data values are transformed and loaded into a unique data engine that provides incredibly fast performance, based on modern column oriented and in-memory database technology.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="color: #fff; font-size: 24px; margin-bottom: 30px;">
          Multiple Disparate Data Sources → <strong>One Insightful Source of Intelligence</strong>
        </h2>
        <br />
        <img src="/Content/images/platform/CC_Diagram_x2.png" width="780" height="297" class="img-responsive" />
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/Content/images/platform/CC_Tableau_x2.png" width="665" height="62" class="img-responsive" style="margin-bottom: 40px;" />
        <h4 class="orange bold text-center raleway font-22">
          Advanced Cloud-Based Analytics Platform
        </h4>
        <p class="medium text-center" style="margin-top: 20px; margin-bottom: 40px">
          Cross Current is a SaaS offering built on Tableau Software’s comprehensive analytic platform uniquely customized to provide our clients with an unparalleled, cloud based, modern analytic environment. This offers our customers superior: 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="dash-list">
          <li>
            <span class="orange bold">Ease of Use&mdash;</span>Anyone can analyze data easily and quickly with intuitive drag and drops
          </li>
          <li>
            <span class="orange bold">Data Manipulation and Visualization&mdash;</span>Virtually unlimited dashboards and visual analytics to transform data into actionable insights
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="dash-list">
          <li>
            <span class="orange bold">AdHoc Analyses&mdash;</span>Leverage existing data sets and in just a few clicks uncover insights into your data
          </li>
          <li>
            <span class="orange bold">Share in Seconds&mdash;</span>Publish dashboards in a few seconds to share with colleagues on any mobile device
          </li>
          <li>
            <span class="orange bold">Speed&mdash;</span>Tableau is 10 to 100x faster than existing solutions
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>