﻿/* Bootstrap Overwrites */
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4 {
  text-align: center; }
  h1.left,
  h2.left,
  h3.left,
  h4.left {
    text-align: left; }

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #1070a7;
  font-size: 34px; }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #ffffff;
  font-size: 35px; }

h3 {
  color: #ffffff;
  font-size: 20px;
  /* TODO: leading 22px? */ }

h4 {
  color: #37393b;
  font-size: 18px;
  /* TODO: leading 24px */ }

h5 {
  color: #1070a7;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700; }
  h5.orange {
    color: #db820c; }

p {
  color: #37393b;
  font-size: 16px;
  /* TODO: leading 19px */ }
  p.quote-large, p.quote-attr {
    font-size: 22px;
    text-align: center; }
  p.quote-attr {
    color: #1070a7;
    margin-top: -50px;
    font-style: italic; }
  p.medium {
    font-size: 16px; }

button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #1070a7;
  font-size: 14px;
  border: 2px solid #1070a7;
  background-color: #ffffff;
  padding: 12px 18px;
  margin: 0 auto;
  display: inherit;
  transition: .2s all ease-in-out;
  margin-top: 50px; }
  button:hover {
    background-color: #1070a7;
    color: #ffffff; }

.orange {
  color: #db820c; }

.purple {
  color: #751d65; }

.bold {
  font-weight: 700; }

.raleway {
  font-family: "Raleway", sans-serif; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.font-22 {
  font-size: 22px; }

h4.extra-space {
  line-height: 1.5; }

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .center-text-xs {
    text-align: center; } }

section.bg-blue-network {
  background: url(../images/backgrounds/Home_bg_x2.png) no-repeat center;
  background-size: cover; }

section.bg-light-gray {
  background-color: #f0f0f0; }

section.bg-blue {
  background-color: #1070a7; }

section.bg-purple-hero {
  background: url(../images/analytics/analytics_header_bg.png) no-repeat center center;
  background-size: cover;
  height: 230px;
  padding: 40px 0; }
  section.bg-purple-hero * {
    color: #ffffff; }
  @media (max-width: 768px) {
    section.bg-purple-hero {
      height: auto; } }

section.bg-orange-hero {
  background: url(../images/platform/platform_header_bg_x2.png) no-repeat center center;
  background-size: cover;
  height: 230px;
  padding: 30px 0; }
  section.bg-orange-hero * {
    color: #ffffff; }
  @media (max-width: 768px) {
    section.bg-orange-hero {
      height: auto; } }

body.bg-contact-us {
  background: url(../images/backgrounds/bg-contact-us.jpg) no-repeat center center;
  background-size: cover; }

.padding-top-30 {
  padding-top: 30px; }

.padding-top-50 {
  padding-top: 50px; }

.margin-top-30 {
  margin-top: 30px; }

.img-responsive {
  margin: 0 auto; }

hr {
  width: 40px;
  margin-bottom: 40px;
  border-top: 3px solid #7cbe56; }

div.hr {
  width: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  height: 3px;
  background-color: #7cbe56; }

span.orb-text {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 10px; }

section {
  padding-top: 75px;
  padding-bottom: 75px; }

ul.dash-list {
  font-size: 17px; }
  ul.dash-list li {
    list-style-type: none;
    text-indent: -10px;
    margin-bottom: 20px; }
    ul.dash-list li:last-child {
      margin-bottom: 0; }
    ul.dash-list li:before {
      content: '-';
      text-indent: -10px; }

.border-right {
  border-right: 1px solid #37393b;
  min-height: 60px; }

section.plus-list h5 {
  margin-top: 0; }

section.plus-list .row {
  margin-bottom: 15px; }

div#form {
  background-color: #0774bb;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 25px; }
  div#form label {
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 300; }
  div#form label:first-child {
    margin-top: 0; }
  div#form input,
  div#form textarea {
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 17px;
    padding: 8px;
    width: 100%;
    color: #fff; }
    div#form input .error,
    div#form textarea .error {
      border: 1px solid red; }
  div#form button {
    margin: initial;
    margin-top: 15px; }
  div#form .success-msg {
    color: #ffffff;
    margin-top: 20px; }

.quote-container {
  padding: 70px;
  background: url(../images/home/quote_top_x2.png) no-repeat top left, url(../images/home/quote_bottom_x2.png) no-repeat bottom right;
  background-size: 100px; }

.platform-plus {
  margin-top: 16px;
  margin-right: 5px; }

span.block {
  display: block; }

button#see-it-in-action {
  background-color: #1070a7;
  font-size: 20px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 300; }

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .col-sm-4.social {
    margin-bottom: 30px; }
  .col-sm-4.sub-nav div.col-sm-6 {
    margin-bottom: 20px; }
  .margin-bottom-xs {
    margin-bottom: 60px; } }

footer {
  background-color: #d8d8d8;
  border-top: 2px solid #afafaf;
  padding: 75px 0; }
  footer section {
    padding: 0; }
  footer section.privacy p {
    font-size: 14px;
    color: #636669; }
  footer section.privacy a {
    color: #636669; }
  footer section.social ul#social-media {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 40px; }
    footer section.social ul#social-media li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      footer section.social ul#social-media li a.social-icon {
        display: block;
        width: 36px;
        height: 36px;
        cursor: pointer; }
        footer section.social ul#social-media li a.social-icon.icon-facebook {
          background: url(../images/icons/facebook.png) no-repeat center center;
          background-size: 38px; }
        footer section.social ul#social-media li a.social-icon.icon-twitter {
          background: url(../images/icons/twitter.png) no-repeat center center;
          background-size: 38px; }
        footer section.social ul#social-media li a.social-icon.icon-linkedin {
          background: url(../images/icons/linkedin.png) no-repeat center center;
          background-size: 38px; }
  footer section.sub-nav {
    font-weight: 700; }
    footer section.sub-nav ul.footer-nav {
      margin: 0;
      padding: 0; }
      footer section.sub-nav ul.footer-nav li {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        footer section.sub-nav ul.footer-nav li a {
          color: #1070a7; }
      footer section.sub-nav ul.footer-nav li.header {
        text-transform: uppercase; }

nav {
  background-color: #ffffff;
  height: 72px;
  border-bottom: 1px solid #eee; }
  nav img#logo {
    margin-top: 20px; }
  nav ul#main-menu {
    margin: 0;
    padding: 0; }
    nav ul#main-menu > li {
      display: inline-block;
      margin-right: 20px;
      margin-top: 25px; }
      nav ul#main-menu > li.has-sub-menu i {
        margin-left: 10px; }
      nav ul#main-menu > li > a {
        padding: 25px 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: #37393b;
        text-decoration: none; }
        nav ul#main-menu > li > a.active, nav ul#main-menu > li > a:hover {
          color: #1070a7; }
      nav ul#main-menu > li:last-child {
        margin-right: 0; }
    nav ul#main-menu ul.sub-menu {
      display: none;
      position: absolute;
      top: 72px;
      left: 0;
      height: 100px;
      background-color: #37393b;
      width: 100%;
      text-align: center;
      padding-left: 0;
      margin: 0 auto; }
      nav ul#main-menu ul.sub-menu li {
        display: inline-block;
        list-style-type: none; }
        nav ul#main-menu ul.sub-menu li:last-child {
          margin-right: 0; }
        nav ul#main-menu ul.sub-menu li a {
          display: inline-block;
          padding: 20px 47px;
          color: #ffffff;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          transition: .1s opacity ease-in; }
          nav ul#main-menu ul.sub-menu li a:hover {
            opacity: 0.5; }
          nav ul#main-menu ul.sub-menu li a img {
            width: 43px;
            height: 43px;
            display: block;
            margin: 0 auto;
            padding-bottom: 8px; }

@media (max-width: 768px) {
  ul#main-menu {
    position: absolute;
    top: 63px;
    z-index: 9999;
    left: 50%;
    margin-left: -150px !important; }
    ul#main-menu li {
      margin-right: 10px !important; }
      ul#main-menu li a {
        font-size: 12px !important; }
  img#logo {
    float: none !important;
    margin: 0 auto; }
  nav {
    height: 128px; }
  a#logo-link {
    width: 100%;
    display: block;
    text-align: center; } }

section#slider {
  padding: 0; }

.owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -36px; }

.owl-nav {
  margin-top: 0 !important; }

.slider-arrow-left,
.slider-arrow-right {
  display: block;
  width: 24px;
  height: 47px;
  cursor: pointer !important; }

.owl-next,
.owl-prev {
  background-color: transparent !important;
  cursor: pointer !important; }

.owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -23px !important; }

.owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -23px !important; }

.slider-arrow-left {
  background: url(../images/owl-carousel/arrow-left.png) no-repeat center center; }

.slider-arrow-right {
  background: url(../images/owl-carousel/arrow-right.png) no-repeat center center; }

.owl-item {
  height: 400px !important; }

.bg-slider-1 {
  background: url(../images/backgrounds/homepage-hero-bg-1.png) no-repeat center center !important;
  background-size: cover !important;
  height: 100% !important; }
  .bg-slider-1 * {
    margin: 0 !important; }
  .bg-slider-1 h1 {
    padding-top: 30px;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    font-family: "Nunito", sans-serif;
    font-weight: 300; }
  .bg-slider-1 h2 {
    font-size: 45px;
    padding-top: 10px;
    color: #1070a7;
    font-weight: 700; }
  .bg-slider-1 h3 {
    font-size: 34px;
    font-weight: 700;
    padding-top: 30px;
    color: #7cbe56; }

.bg-slider-2 {
  background: url(../images/backgrounds/homepage-hero-bg-2-2.png) no-repeat center center !important;
  background-size: cover !important;
  height: 100% !important; }
  .bg-slider-2 * {
    margin: 0 !important; }
  .bg-slider-2 h1 {
    padding-top: 80px;
    color: #fff;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 700; }
  .bg-slider-2 h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    padding-top: 20px;
    font-weight: 300; }
  .bg-slider-2 button.hero-cta {
    margin: 0 auto !important;
    margin-top: 50px !important;
    background-color: #1070a7;
    font-size: 20px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 300; }

.bg-slider-3 {
  background: url(../images/backgrounds/homepage-hero-bg-3-2.png) no-repeat center center !important;
  background-size: cover !important;
  height: 100% !important; }
  .bg-slider-3 * {
    margin: 0 !important; }
  .bg-slider-3 h1 {
    padding-top: 80px;
    color: #fff;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 700; }
  .bg-slider-3 h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    padding-top: 20px;
    font-weight: 300; }
  .bg-slider-3 button.hero-cta {
    margin: 0 auto !important;
    margin-top: 50px !important;
    background-color: #1070a7;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-family: "Nunito", sans-serif; }
