﻿﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | CrossCurrent Healthcare Analytics</title>
    @Html.Partial("_Styles")
    @Html.Partial("_Analytics")
  </head>
  <body class="@(ViewBag.Title == "Contact Us" ? "bg-contact-us" : "")">
    @Html.Partial("_Navigation")
    <div class="container-fluid">
      @RenderBody()
      @Html.Partial("_Footer")
    </div>
    @Html.Partial("_Scripts")
  </body>
</html>