﻿<nav>
  <div class="container">
    <a href="/" id="logo-link">
      <img id="logo" src="/Content/images/nav/Nav_Logo_x2_V2.png" width="212" height="36" alt="Logo: Cross Current" class="pull-left" />
    </a>
    <ul id="main-menu" class="pull-right">
      <li>
        <a href="/Analytics" class="@(ViewBag.Title == "Analytics" ? "active" : "")">Analytics</a>
      </li>
      <li>
        <a href="/Platform" class="@(ViewBag.Title == "Platform" ? "active" : "")">Platform</a>
      </li>
      <li>
        <a href="/Contact-Us" class="@(ViewBag.Title == "Contact Us" ? "active" : "")">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
