﻿$font-raleway: 'Raleway', sans-serif;
$font-nunito: 'Nunito', sans-serif;

body {
  font-family: $font-nunito;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  &.left {
    text-align: left;
  }
}

h1 {
  font-family: $font-raleway;
  font-weight: 500;
  color: $blue;
  font-size: 34px;
}

h2 {
  font-family: $font-raleway;
  font-weight: 200;
  color: $white;
  font-size: 35px;
}

h3 {
  color: $white;
  font-size: 20px;
  /* TODO: leading 22px? */
}

h4 {
  color: $gray;
  font-size: 18px;
  /* TODO: leading 24px */
}

h5 {
  color: $blue;
  font-family: $font-raleway;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  &.orange {
    color: $orange;
  }
}

p {
  color: $gray;
  font-size: 16px;
  /* TODO: leading 19px */

  &.quote-large,
  &.quote-attr {
    font-size: 22px;
    text-align: center;
  }

  &.quote-attr {
    color: $blue;
    margin-top: -50px;
    font-style: italic;
  }

  &.medium {
    font-size: 16px;
  }
}

button {
  font-family: $font-raleway;
  font-weight: 700;
  color: $blue;
  font-size: 14px;
  border: 2px solid $blue;
  background-color: $white;
  padding: 12px 18px;
  margin: 0 auto;
  display: inherit;
  transition: .2s all ease-in-out;
  margin-top: 50px;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.orange {
  color: $orange;
}
.purple {
  color: $purple;
}

.bold {
  font-weight: 700;
}

.raleway {
  font-family: $font-raleway;
}

// font sizes
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}

h4.extra-space {
  line-height: 1.5;
}

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .center-text-xs {
    text-align: center;
  }
}

// nav {
//   font-weight: 700;
//   text-transform: uppercase;
//   font-size: 16px;
//   color: $light-gray;
//   /* TODO: blue when highlighted */
// }

// Solutions Dropdown Menu:
// 105px high, BG #555555
// Font: Nunito Regular, white, Allcaps, 14px.