﻿footer {
  background-color: #d8d8d8;
  border-top: 2px solid #afafaf;
  padding: 75px 0;
  section {
    padding: 0;
  }

  section.privacy {
    p {
      font-size: 14px;
      color: #636669;
    }

    a {
      color: #636669;
    }
  }

  section.social {
    ul#social-media {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 40px;
      li {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        a.social-icon {
          display: block;
          width: 36px;
          height: 36px;
          cursor: pointer;
          &.icon-facebook {
            background: url(../images/icons/facebook.png) no-repeat center center;
            background-size: 38px;
          }

          &.icon-twitter {
            background: url(../images/icons/twitter.png) no-repeat center center;
            background-size: 38px;
          }

          &.icon-linkedin {
            background: url(../images/icons/linkedin.png) no-repeat center center;
            background-size: 38px;
          }
        }
      }
    }
  }

  section.sub-nav {
    font-weight: 700;
    ul.footer-nav {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
          color: $blue;
        }
      }

      li.header {
        text-transform: uppercase;
      }
    }
  }
}
