﻿nav {
  background-color: $white;
  height: 72px;
  border-bottom: 1px solid #eee;

  img#logo {
    margin-top: 20px;
  }
  ul#main-menu {
    margin: 0;
    padding: 0;
    > li {
      display: inline-block;
      margin-right: 20px;
      margin-top: 25px;

      &.has-sub-menu i {
        margin-left: 10px;
      }

      > a {
        padding: 25px 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: $gray;
        text-decoration: none;

        &.active,
        &:hover {
          color: $blue;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    ul.sub-menu {
      display: none;
      position: absolute;
      top: 72px;
      left: 0;
      height: 100px;
      background-color: $gray;
      width: 100%;
      text-align: center;
      padding-left: 0;
      margin: 0 auto;
      
      li {
        display: inline-block;
        list-style-type: none;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: inline-block;
          padding: 20px 47px;
          color: $white;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          transition: .1s opacity ease-in;
          &:hover {
            opacity: 0.5;
          }
          img {
            width: 43px;
            height: 43px;
            display: block;
            margin: 0 auto;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  ul#main-menu {
    position: absolute;
    top: 63px;
    z-index: 9999;
    left: 50%;
    margin-left: -150px !important;

    li {
      margin-right: 10px !important;

      a {
        font-size: 12px !important;
      }
    }
  }

  img#logo {
    float: none !important;
    margin: 0 auto;
  }

  nav {
    height: 128px;
  }

  a#logo-link {
    width: 100%;
    display: block;
    text-align: center;
  }
}